<%= project_header @project %>

<h2>Subscribe to Project Tasks</h2>

<%= render 'form',
           project_task_subscription: @project_task_subscription,
           project: @project %>

<%= link_to 'Back', :back %>
