<%
  url =
    if category_issue_subscription.persisted?
      category_issue_subscription_path(category, category_issue_subscription)
    else
      category_issue_subscriptions_path(category)
    end
%>
<%= form_with(model: category_issue_subscription, url: url, local: true,
              html: { name: 'issue_subscription_form',
                      class: 'issue-subscription-form' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
