<%= category_header @category %>

<h2>Subscribe to Category Issues</h2>

<%= render 'form', category_issue_subscription: @category_issue_subscription,
                   category: @category %>

<%= link_to 'Back', :back %>
