<%= user_header @user %>

<header class="tasks-header">
  <h2>Assigned Tasks</h2>
</header>

<%= render 'tasks/tasks', tasks: @assignments,
                          path: user_assignments_path(@user) %>
