<% return unless can?(:cancel, user) %>

<% confirm = 'Are you sure you want to cancel your account?' %>

<hr>

<h3>Cancel Account</h3>

<p>
  Unhappy?
  <%= button_to "Cancel my account",
                user_employee_type_path(user),
                method: :delete, data: { confirm: confirm },
                class: 'button button-outline button-warning' %>
</p>
