<% return unless can?(:cancel, user) %>
<% confirm = 'Are you sure you want to cancel your account?' %>

<hr>

<h3>Cancel Account</h3>

<p>
  Unhappy?
  <%= button_to "Cancel my account",
                cancel_user_path(user),
                data: { confirm: confirm }, method: :patch,
                class: 'button button-outline button-warning' %>
</p>
