<%= enable_page_title "Task Type: #{@task_type.name}" %>

<%= content_for :header do %>
  <h1>Edit Task Type</h1>
<% end %>

<%= render 'form', task_type: @task_type %>

<p><%= link_to 'Back', :back %></p>
