<div class="comment issue-description">
  <header class="issue-user-date">
    <p><span class="issue-user"><%= user.present? ? user.name_or_email : User.destroyed_name %></span>:</p>
  </header>

  <%= content_tag :main, issue.description_html.html_safe %>

  <% if can?(:update, issue) %>
    <footer>
      <p><%= link_to 'edit', edit_issue_path(issue) %></p>
    </footer>
  <% end %>
</div>
