<%= issue_header @issue %>

<h2>Edit Issue</h2>

<%= render 'form', issue: @issue, issue_types: @issue_types,
                   url: issue_path(@issue), user_options: @user_options %>

<%= link_to 'Back to issue', issue_path(@issue) %>
