<% if @source.is_a?(Project) %>
  <%= project_header @source %>
  <header class="issues-header">
    <h2>Project Issues</h2>
  </header>
<% elsif @source.is_a?(Category) %>
  <%= category_header @source %>
  <header class="issues-header">
    <h2>Category Issues</h2>
  </header>
<% elsif @source.is_a?(User) %>
  <%= user_header @source %>
  <header class="issues-header">
    <h2>Reported Issues</h2>
  </header>
<% end %>

<%= render 'issues/issues', issues: @issues %>
