<div class="comment task-description">
  <header class="task-user-date">
    <p><span class="task-user"><%= user.present? ? user.name_or_email : User.destroyed_name %></span>:</p>
  </header>

  <%= content_tag :main, task.description_html.html_safe %>
</div>
