<%= task_header @task %>

<h2>Edit Task</h2>

<%= render 'form', task: @task, task_types: @task_types,
                   url: task_path(@task),
                   user_options: @user_options,
                   assignee_options: @assignee_options,
                   issue_options: @issue_options %>

<%= link_to 'Back to task', task_path(@task) %>
