<% if @category && @project %>
  <%= project_header @project, @category %>
  <header class="tasks-header">
    <h2>Project Tasks</h2>
    <p>
      <%= link_to 'Add Task',
                  new_category_project_task_path(@category, @project),
                  class: 'button button-success' %>
    </p>
  </header>
<% elsif @category %>
  <%= category_header @category %>
  <header class="tasks-header">
    <h2>Category Tasks</h2>
  </header>
<% else %>
  <h1>All Tasks</h1>
  <header class="tasks-header"></header>
<% end %>

<div class="tasks">
  <% if @tasks.any? %>
    <%= render @tasks %>
  <% else %>
    <p class="no-task">None yet</p>
  <% end %>
</div>
