<% if @source.is_a?(Project) %>
  <%= project_header @source %>
  <header class="tasks-header">
    <h2>Project Tasks</h2>
  </header>
<% elsif @source.is_a?(Category) %>
  <%= category_header @source %>
  <header class="tasks-header">
    <h2>Category Tasks</h2>
  </header>
<% elsif @source.is_a?(User) %>
  <%= user_header @source %>
  <header class="tasks-header">
    <h2>Created Tasks</h2>
  </header>
<% end %>

<%= render 'tasks/tasks', tasks: @tasks %>
