<%
  url =
    if @issue
      issue_tasks_path(@issue)
    else
      project_tasks_path(@project)
    end
  %>

<%= project_header(@project) %>

<h2>New Task</h2>

<%= render 'form', task: @task, task_types: @task_types, url: url,
                   user_options: @user_options,
                   assignee_options: @assignee_options,
                   issue_options: @issue_options %>

<%= link_to 'Back', :back %>
