<% return unless can?(:read, issue_notifications.first) %>

<div id="issue_notifications-<%= issue.id %>"
     class="issue-notification">
  <span class="notification-event">
    <%= issue_notifications.map(&:full_event).uniq.join(', ') %>
  </span>

  <% if can?(:destroy, issue_notifications.first) %>
    <%= link_to "\u2716", bulk_destroy_issue_issue_notifications_path(issue),
                method: :delete, title: 'Dismiss All', remote: true,
                class: 'close-link notification-close-link' %>
  <% end %>
</div>
