<%= form_with(model: user, url: cancel_user_path(user),
              local: true, method: :patch,
              html: { name: 'user_form', class: 'user-form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="actions">
    <%= form.submit "Cancel #{user.employee_type} Account" %>
  </div>
<% end %>
