<section id="user-<%= user.id %>" class="user">
  <h3 class="user-name">
    <%= link_to_if can?(:read, user), user.name, user %>
  </h3>

  <main class="user-content">
    <p class="user-email">
      <code><%= user.email %></code>
    </p>
  </main>

  <% if can?(:update, user) %>
    <div class="user-buttons">
      <%= link_to 'Settings', edit_user_path(user),
                  class: 'button button-outline' %>
    </div>
  <% end %>
</section>
