<div id="user-<%= user.id %>" class="user">
  <div class="user-name-and-email">
    <h3 class="user-name">
      <%= link_to_if can?(:read, user), user.name, user %>
    </h3>

    <p class="user-email">
      <code><%= user.email %></code>
    </p>
  </div>

  <p class="user-links">
    <% if can?(:update, user) %>
      <%= link_to 'Edit', edit_user_path(user),
                  class: 'button button-clear' %>
    <% end %>
  </p>
</div>
