<%= user_inner_header @user, 'Account Settings' %>

<div class="columns">
  <div id="user-name-form" class="column">
    <h2>Update Name</h2>

    <%= render 'form', user: @user %>
  </div>

  <div class="column nav-column">
    <h5>Navigation</h5>
    <%= user_side_nav(@user) %>
  </div>
</div>
