<%= issue_header(@issue) %>

<h2>Edit Comment</h2>

<%= render 'form', category: @category, project: @project, issue: @issue,
                   issue_comment: @issue_comment %>

<p><%= link_to 'Back', :back %></p>
