<%
progressions = assigned.progressions.where('progressions.task_id = ?', task.id)
%>

<li id="assigned-<%= assigned.id %>" class="assigned">
  <%= assigned.name_or_email %>
  <br>

  <% if progressions.unfinished.any? %>
    in progress
    <%= render partial: 'shared/progression',
               collection: progressions.unfinished,
               locals: { task: task } %>
    <br>
  <% end %>

  <% if progressions.finished.any? %>
    <%= render partial: 'shared/progression',
               collection: progressions.finished,
               locals: { task: task } %>
    <br>
  <% end %>
</li>
