<div class="comment">
  <header>
    <p>Add Comment:</p>
  </header>

  <% if object.is_a?(Task) %>
    <%= render 'task_comments/form', task: object, task_comment: comment,
                                     user_options: user_options %>
  <% else %>
    <%= render 'issue_comments/form', issue: object, issue_comment: comment,
                                     user_options: user_options %>
  <% end %>
</div>
