<% return unless can?(:create, comment) %>

<div id="new_comment" class="comment new-comment">
  <header>
    <p>Add Comment:</p>
  </header>

  <main></main>

  <footer>
    <p>
      <% if object.is_a?(Task) %>
        <%= link_to 'new',
                    new_task_task_comment_path(object),
                    remote: true %>
      <% else %>
        <%= link_to 'new',
                    new_issue_issue_comment_path(object),
                    remote: true %>
      <% end %>
    </p>
  </footer>
</div>
