<span>
  (<%= content_tag :span,
                  format_date(resolution.updated_at),
                  class: 'resolution-date' %>)
  <br>
  by
  <%= content_tag :span,
                  resolution.user.name_or_email,
                  class: 'resolution-user' %>

  <% if can?(:destroy, resolution) %>
    <%= divider %>
    <%= link_to 'delete', issue_resolution_path(issue, resolution),
                method: :delete, data: { confirm: 'Are you sure?' },
                class: 'secondary-link' %>
  <% end %>
</span>
