<span id="review_<%= review.id %>" class="review">
  <% unless review.pending? %>
    (<%= content_tag :span,
                    format_date(review.updated_at),
                    class: 'review-date' %>)
  <% end %>
</span>
