<%= project_header(@project, @category) %>

<h2 class="task-summary">
  <%= link_to "Task: #{@task.summary}",
              category_project_task_path(@category, @project, @task) %>
</h2>

<h3>Edit Comment</h3>

<%= render 'form', category: @category, project: @project, task: @task,
                   comment: @comment, user_options: @user_options %>

<p><%= link_to 'Back', :back %></p>
