<%= task_header(@task) %>

<h2>New Comment</h2>

<%= render 'form', category: @category, project: @project, task: @task,
                   task_comment: @task_comment %>

<p><%= link_to 'Back', :back %></p>
