<% return unless can?(:read, task_notification) %>

<div id="task_notification-<%= task_notification.id %>"
     class="task-notification">
  <%= render 'shared/notification', notification: task_notification %>
</div>
