<% return unless can?(:read, task_notification) %>

<div id="task_notification-<%= task_notification.id %>"
     class="task-notification">
  <%= render 'shared/notification', notification: task_notification %>

  <% if can?(:destroy, task_notification) %>
    <%= link_to "\u2716", task_notification,
                method: :delete, title: 'Dismiss',
                class: 'close-link notification-close-link' %>
  <% end %>
</div>
