<% return unless can?(:create, new_project(category)) %>

<div class="new-project">
  <%= link_to new_category_project_path(category),
              class: 'button button-success button-clear' do %>
    <i class="icon-plus"></i>
    Add Project
  <% end %>
</div>
