<h1>Projects</h1>

<header class="projects-header">
</header>

<div class="projects">
  <% if @projects.any? %>
    <%= render @projects %>
  <% else %>
    <p class="no-project">none</p>
  <% end %>
</div>
