<%= category_header @category %>

<header class="category-projects-header">
  <h2>Projects</h2>
</header>

<div class="category-projects">
  <% if @projects.any? %>
    <%= render @projects %>
  <% elsif !can?(:create, new_project(@category)) %>
    <p class="no-project">None yet</p>
  <% end %>
  <%= render 'new_project', category: @category %>
</div>
