<%= project_header @project, @category %>

<p>
  <%= link_to 'Edit', edit_category_project_path(@category, @project),
              class: 'button' %>
</p>

<header class="issues-header">
  <h2>Latest Issues</h2>
  <p>
    <%= link_to 'View All',
                category_project_issues_path(@category, @project),
                class: 'button' %>
  </p>
</header>
<div class="issues">
  <% if @issues.any? %>
    <%= render @issues %>
  <% else %>
    <p class="no-issue">None yet</p>
  <% end %>
</div>
