<p id="resolution_<%= resolution.id %>" class="resolution">
  <%= content_tag :strong, resolution.status, class: 'resolution-status' %>
  <%= render 'shared/resolution', resolution: resolution, issue: issue %>
</p>
