<%= content_for :header do %>
  <h1>Unauthorized</h1>
<% end %>

<p>
  Sorry, you are not allowed to access this page. Please contact your
  administrator to fix this issue.
</p>

<p><%= link_to 'Back', :back %></p>
