<% if issue_subscription.persisted? %>
  <% return unless can?(:destroy, issue_subscription) %>

  <div class="button-wrapper">
    <%= link_to 'Subscribed',
                issue_issue_subscription_path(issue, issue_subscription),
                method: :delete,
                class: 'button button-success button-disabled' %>
    <%= link_to issue_issue_subscription_path(issue, issue_subscription),
                method: :delete,
                class: 'button button-success button-unsubscribe button-icon',
                title: 'Unsubscribe',
                data: { disable_with: '...' } do %>
      <%= icon('close') %>
    <% end %>
  </div>
<% elsif issue && can?(:create, issue_subscription) %>
  <%= link_to 'Subscribe to issue',
              issue_issue_subscriptions_path(issue),
              method: :post, class: 'button button-outline',
              data: { disable_with: 'Subscribing' } %>
<% end %>
