<%= enable_page_title 'Issue Subscriptions' %>

<%= content_for :header do %>
  <h1>Subscriptions</h1>

  <%= dashboard_nav %>
<% end %>

<header class="issues-header">
  <h2>Subscribed Issues</h2>
</header>

<%= render 'issues/issues',
           issues: @subscribed_issues,
           index_path: issue_subscriptions_path %>
