<%= user_header current_user %>

<header class="issues-header">
  <h2>Subscribed Issues</h2>
</header>

<%= render 'issues/issues', issues: @issues,
                            index_path: issue_subscriptions_path %>
