<%= enable_page_title 'Issue Subscriptions' %>

<h1>Subscriptions</h1>

<%= dashboard_nav %>

<header class="issues-header">
  <h2>Subscribed Issues</h2>
</header>

<%= render 'issues/issues',
           issues: @subscribed_issues,
           index_path: issue_subscriptions_path %>
