<%= user_inner_header @user, 'User Account Level' %>

<div class="columns">
  <div class="column">
    <div id="employee" class="user-form-group">
      <%= content_tag :h2, "Assign Level" %>

      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
