<%= form_with(model: task_subscription,
              url: task_task_subscriptions_path(task),
              local: true,
              html: { name: 'task_subscription_form',
                      class: 'task-subscription-form' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
