<%= enable_page_title 'Task Subscriptions' %>

<h1>Subscriptions</h1>

<%= dashboard_nav %>

<header class="tasks-header">
  <h2>Subscribed Tasks</h2>
</header>

<%= render 'tasks/tasks',
           tasks: @subscribed_tasks,
           path: task_subscriptions_path %>
