<%= user_header current_user %>

<header class="tasks-header">
  <h2>Subscribed Tasks</h2>
</header>

<%= render 'tasks/tasks', tasks: @tasks,
                          path: task_subscriptions_path %>
