<%= issue_header(@issue_connection.source) %>

<h2>Mark As Duplicate</h2>

<p>
  This issue is similar to another issue that is already being worked on or
  complete. Pick another issue that should override this one:
</p>

<%= render 'form', issue_connection: @issue_connection %>

<p><%= link_to 'Back', :back %></p>
