.button {
  &.button-warning {
    border-color: $color-warning;
    background-color: $color-warning;

    &.button-outline {
      background-color: transparent;
      color: $color-warning;
    }

    &:focus,
    &:hover {
      border-color: $color-warning-hover;
      background-color: $color-warning-hover;

      &.button-outline {
        background-color: transparent;
        color: $color-warning-hover;
      }
    }
  }

  &.button-success {
    border-color: $color-success;
    background-color: $color-success;

    &.button-outline {
      background-color: transparent;
      color: $color-success;
    }

    &:focus,
    &:hover {
      border-color: $color-success-hover;
      background-color: $color-success-hover;

      &.button-outline {
        background-color: transparent;
        color: $color-success-hover;
      }
    }
  }
}

// form has valiation errors
// scss-lint:disable QualifyingElement
input[type='submit'][disabled] {
  &:focus,
  &:hover {
    border-color: $color-warning-hover;
    background: $color-warning;

    &.button-outline {
      background-color: transparent;
      color: $color-warning-hover;
    }
  }
}
// scss-lint:enable QualifyingElement
