.categories,
.category-projects,
.projects,
.users {
  margin-bottom: 4rem;

  .category-name,
  .project-name,
  .user-name,
  .category-tags,
  .project-tags,
  .category-counts,
  .project-counts {
    margin: 0;
  }

  .category,
  .no-category,
  .new-category,
  .project,
  .no-project,
  .new-project,
  .user,
  .new-user {
    margin-bottom: 1rem;
  }

  .category,
  .project,
  .new-category,
  .new-project,
  .user,
  .new-user {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $light-gray;
    text-align: center;

    .button {
      margin: 0;
    }

    .tag {
      margin: 0;
      font-size: 1.2rem;

      &:nth-child(n + 2) {
        margin-left: .5rem;
      }
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stat-number {
    margin-bottom: -.5rem;
    padding: .5rem 1rem;
    border-radius: 5rem;
    color: $ink;
    font-family: $code-font;
    font-size: 120%;
    font-weight: bold;
    line-height: 2rem;
  }

  .stat-name {
    color: $gray;
    font-size: 80%;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .category-tags,
  .project-tags {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;

    &:empty {
      display: none;
    }
  }

  .category-name,
  .project-name,
  .user-name {
    position: relative;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid $light-gray;
    background-color: $off-white;
    text-decoration: underline;

    h3 {
      margin: 0;
    }

    a {
      color: $ink;

      &:hover,
      &:focus {
        color: $color-secondary;

      }
    }
  }

  .new-category,
  .new-project,
  .new-user {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 2rem 0;
    }

    i {
      margin-top: 1rem;
      margin-bottom: -1rem;
      font-size: 3rem;
    }
  }

  .user-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem 1rem;

    > p:last-child {
      margin: 0;
    }
  }
}

.category-tags,
.project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;

  .tag,
  .status-tag,
  .issue-type-tag,
  .task-type-tag,
  .issue-tag,
  .task-tag {
    margin-bottom: 1rem;
  }

  .tag {
    @include tag;
    margin-bottom: 1rem;
  }
}

.category-buttons,
.project-buttons,
.user-buttons {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: stretch;
  margin: 0 -1px -1px;
  padding: 0;
  column-gap: 0;

  a {
    display: block;
    width: 100%;
    border-radius: 0;
  }
}

.accordion {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}

.accordion-menu {
  display: grid;
  align-items: center;
  border-right: 1px solid $light-gray;

  a {
    position: relative;
    height: 100%;
    margin: 0 -1px 0 0;
    padding: 1rem;
    border-right: 2px solid transparent;

    &:hover {
      border-color: $color-secondary;
      background-color: $off-white;

      .stat-name {
        color: $dark-gray;
      }
    }

    &.active {
      border-color: $light-gray;
      background-color: $off-white;

      // triangle
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
        height: 0;
        margin-top: -.55rem;
        border-top: .55rem solid transparent;
        border-right: .55rem solid $light-gray;
        border-bottom: .55rem solid transparent;
      }

      .stat-number {
        color: $color-quinary;
      }

      .stat-name {
        color: $dark-gray;
      }
    }
  }
}

.accordion-content {
  display: none;
  padding: 1rem;

  > p {
    margin-bottom: .5rem;

    &:last-child {
      margin: 0;
    }
  }

  &.active {
    display: block;
    height: 100%;
  }

  .button {
    line-height: 1.5;
    white-space: normal;

  }
}

@include breakpoint(medium up) {
  .categories,
  .category-projects,
  .projects,
  .users {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    .category,
    .project,
    .user,
    .new-category,
    .new-project,
    .new-user {
      margin-bottom: 2rem;
      padding: 0;
      border-width: 1px;
      border-radius: $border-radius;
    }

    .new-category,
    .new-project,
    .new-user {
      order: 1;
    }
  }
}

@include breakpoint(large up) {
  .categories,
  .category-projects,
  .projects,
  .users {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
