.categories {
  margin-bottom: 4rem;
  border-radius: $border-radius;
  background: $pearl;

  h3,
  p {
    margin: 0;
  }

  .category,
  .no-category {
    padding: 1rem 1.5rem 1.5rem;
  }

  .category {
    &:nth-child(odd) {
      background: $light-gray;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .category-name-and-tags {
    margin-bottom: 1.5rem;
  }

  .category-name {
    margin-bottom: .3rem;
  }

  .category-tags {
    margin-bottom: 0;
  }

  .category-links {
    display: flex;
    margin: 0 -.5rem;

    .button {
      flex: 1 1 50%;
      margin: 0 .5rem;
    }
  }

  .new-category {
    text-align: center;

    .button {
      margin: .5rem auto;
    }
  }
}

.category-tags {
  .tag {
    @include tag;
  }
}

.category-issues-link {
  a {
    display: block;
  }
}

@include breakpoint(medium up) {
  .categories {
    .category {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: 3fr 1fr 1fr;
      align-items: center;
    }

    .category-name-and-tags,
    p {
      margin-bottom: 0;
    }

    .no-category {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
}

@include breakpoint(large up) {
  .categories {
    .category-name-and-tags {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: 60% auto;
      align-items: center;
    }

    .category-name {
      margin-bottom: 0;
    }
  }
}

.categories-header {
  padding: 1.5rem;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $dark-blue;
  color: $white;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  .button {
    margin: 0;
  }
}

@include breakpoint(medium up) {
  .categories-header {
    padding: 1.5rem 2rem;
    text-align: right;
  }
}
