.categories {
  margin-bottom: 4rem;

  h3,
  p {
    margin: 0;
  }

  .category,
  .no-category {
    padding: 1.5rem 0;
  }

  .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .button {
      margin: 0;
    }

    .category-name {
      margin-bottom: 1rem;
    }

    .category-tags {
      justify-content: center;
    }
  }

  .new-category {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 2rem 0;
    }

    i {
      margin: -1rem 0;
      font-size: 3rem;
    }
  }
}

@include breakpoint(small only) {
  .categories {
    .category {
      // add top border to all except the first
      &:nth-child(n + 2) {
        padding-top: 2rem;
        border-top: 1px solid $light-gray;
      }
    }
  }
}

@include breakpoint(medium up) {
  .categories {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    .category {
      margin-bottom: 2rem;
      padding-right: 1rem;
      padding-left: 1rem;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
    }
  }
}

@include breakpoint(large up) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
