.categories {
  margin-bottom: 4rem;
  border-radius: $border-radius;
  background: $pearl;

  .category {
    padding: 1rem 1.5rem 1.5rem;

    &:nth-child(odd) {
      background: $light-gray;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .category-name-and-tags {
    margin-bottom: 1.5rem;
  }

  .category-name {
    margin-bottom: .3rem;
  }

  .category-tags {
    margin-bottom: 0;
  }

  .category-links {
    margin-bottom: 0;
    text-align: center;

    .button {
      margin-bottom: 0;
    }
  }

  .new-category {
    text-align: center;

    .button {
      margin: .5rem auto;
    }
  }
}

.category-tags {
  .tag {
    @include tag;
  }
}

@include breakpoint(medium up) {
  .categories {
    .category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;

      > * {
        margin-bottom: 0;
        border: 1px solid transparent;
        border-width: 0 2rem;
      }
    }
  }
}

.categories-header {
  padding: 1.5rem;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $dark-blue;
  color: $white;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  .button {
    width: 100%;
    margin: 0;
  }
}

@include breakpoint(medium up) {
  .categories-header {
    padding: 1.5rem 2rem;
    text-align: right;

    .button {
      width: auto;
    }
  }
}
