// basic
$black: #000;
$dark-gray: #696969;
$light-gray: #e1e1e1;
$white: #fff;

// colormind
$blue: #287eff;
$light-blue: #5cbedb;
$dark-blue: #1c1e34;

$ink: #191919;
$light-brown: #c5b2b2;

$green: #42a17f;
$yellow: #bf9147;
$red: #f44335;

$dark-red: #d61a0b;

$off-white: #f6efec;
$lavender: #7b5c78;
$gray: #999;

$color-danger: $red;
$color-warning: $yellow;
$color-success: $green;

// milligram
$color-initial: $white;
$color-primary: $blue;
$color-secondary: $dark-blue;
$color-tertiary: $off-white;
$color-quaternary: $gray;
$color-quinary: $lavender;
