$black: #000;
$purple: #9b4dca;
// $dark-gray: #606c76;
$dark-gray: #696969;
$gray: #d1d1d1;
$light-gray: #e1e1e1;
$off-white: #f4f5f6;
$white: #fff;

$blue: #287EFF;
$purple: #E80DE3;

$yellow: #FFDB35;
$green: #1EE83F;
$orange: #FF8515;

$color-danger: $orange;
$color-warning: $yellow;
$color-success: $green;

// milligram
$color-initial: $white;
$color-primary: $blue;
$color-secondary: $dark-gray;
$color-tertiary: $off-white;
$color-quaternary: $gray;
$color-quinary: $light-gray;
