// scss-lint:disable SelectorFormat ImportantRule

$editor-button-size: 3rem;

.editor-toolbar {
  padding: 0 1rem;
  border-radius: $border-radius $border-radius 0 0;
  border-color: $gray;
  opacity: 1;
  background: $off-white;

  button {
    width: $editor-button-size;
    height: $editor-button-size;
    margin: 0 .5rem;
    padding: initial;
    border: 0;
    border-radius: $border-radius;
    background: none;
    color: $dark-gray;
    font-size: initial;
    font-weight: initial;
    line-height: initial;
    text-decoration: initial;
    text-transform: initial;

    &:hover {
      background: $light-gray;
    }

    &.fa-header {
      &::after {
        display: none;
      }
    }

    &.active {
      background: $dark-gray;
      color: $pearl;

      &:hover {
        background: $gray;
      }
    }

    &::before {
      position: relative;
      left: 1px;
      line-height: $editor-button-size;
    }

    // remove 1 from heading button in toolbar
    &.heading-1 {
      &::after {
        content: '';
      }
    }
  }

  i {
    &.separator {
      margin: 0 .5rem;
    }
  }

  &:hover {
    opacity: 1;
  }

  &::before {
    margin-bottom: .5rem;
  }

  &::after {
    margin-top: .5rem;
  }

  &.disabled-for-preview {
    border-color: $light-gray;

    button {
      &:not(.no-disable) {
        opacity: .5;
        background: transparent;
        color: $gray !important;
        pointer-events: none;
      }
    }
  }
}

.CodeMirror {
  border-radius: 0 0 $border-radius $border-radius;
  border-color: $gray;
  color: $ink;

  .CodeMirror-placeholder {
    opacity: 1;
    color: $gray !important;
  }

  .CodeMirror-code {
    .cm-header-1 {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.3em;
    }
  }

  &.CodeMirror-focused {
    border-color: $color-primary;
  }
}
// scss-lint:enable SelectorFormat ImportantRule

// fix syntax highlighting
// selectors have to be deep
code {
  &.prettyprint {
    .comment {
      margin: inherit;
      padding: inherit;
      border: inherit;
    }
  }
}
