// FIXME: flash message doesn't get removed completely, covers nav links

.flash-message {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  padding: 1rem 4.5rem 1rem 1.5rem;
  border-left: .5rem solid $color-primary;
  border-radius: $border-radius;
  background: $off-white;
  box-shadow: 0 3px 15px 1px rgba($ink, .3);

  .close-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem .8rem;
    border-radius: $border-radius;
    background: rgba($ink, .05);
    color: $red;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;

    &:hover {
      background: rgba($ink, .09);
      color: $dark-red;
    }
  }

  &.flash-message-success {
    border-color: $color-success;
  }

  &.flash-message-warning {
    border-color: $color-warning;
  }

  &.flash-message-danger {
    border-color: $color-danger;
  }

  &.hide {
    transition: opacity 300ms ease-in,
                box-shadow 200ms ease-in;
    opacity: 0;
    box-shadow: none;
  }
}
