form {
  .actions {
    margin-top: 2rem;

    input {
      margin-bottom: 0;
    }
  }
}

// scss-lint:disable QualifyingElement
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea,
select {
  border-radius: $border-radius;
  border-color: $gray;

  &:disabled {
    border-color: $light-gray;
    background-color: $off-white;
    color: $dark-gray;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
  border-radius: $border-radius;
}
// scss-lint:enable QualifyingElement

label {
  input {
    margin-bottom: 0;
  }
}

.field {
  position: relative;

  &.disabled {
    label {
      color: $dark-gray;
      cursor: text;

      &::after {
        content: " (can't change)";
        font-size: 95%;
        font-weight: normal;
      }
    }
  }

  .field-label-and-message {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    label {
      margin-right: 1rem;
    }
  }

  .field-message {
    margin: 0 .5rem 0 1rem;
    color: $gray;
    font-family: $heading-font;
    font-size: 1.35rem;
    font-weight: normal;
    text-transform: uppercase;

    &.hide {
      // TODO: fade out
      display: none;
    }
  }

  &.error {
    .field-message {
      color: $color-warning;
      font-weight: bold;
    }

    input {
      border-color: $color-warning;
    }

    // scss-lint:disable SelectorFormat
    .CodeMirror {
      border-color: $color-warning;
    }

    .CodeMirror-placeholder {
      color: $color-warning;
    }
    // scss-lint:enable SelectorFormat
  }
}

.error-card {
  margin-bottom: 2rem;
  border-radius: $border-radius;
  background: $pearl;
  color: $black;

  .card-title {
    margin: 0;
    padding: 1rem;
    border-radius: $border-radius $border-radius 0 0;
    background: $color-warning;
    color: $white;
    line-height: 1.2;
  }

  .card-body {
    padding: 2rem;
  }

  ol {
    margin: 0 1rem;
  }
}

[multiple="multiple"] {
  height: auto;
}
