$box-border-color: $light-gray;

.filters-wrapper {
  margin-bottom: 1.5rem;
}

.issues,
.tasks {
  margin-bottom: 3rem;

  h3,
  p {
    margin: 0;
  }

  form {
    margin-bottom: 1rem;
  }

  main {
    padding: 1rem;

    p {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .issue,
  .task {
    margin-bottom: .5rem;
    border: 1px solid $box-border-color;
  }

  .task-issue,
  .issue-task {
    margin: 0;
    padding: 0;
    border: 0 solid $box-border-color;
    border-width: 1px 0 0;
    background-color: $off-white;
  }

  .issue-container {
    margin-left: 1rem;
    padding: .5rem;
    border-left: 1px solid $box-border-color;
    background-color: $white;
  }

  .issue-header,
  .task-header {
    margin: 0;

    h2,
    p,
    .button {
      margin: 0;
    }
  }

  .issue-summary,
  .task-summary {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid $box-border-color;
    background-color: $off-white;

    a {
      color: $ink;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .issue-tags,
  .task-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .issue-user,
  .task-assignees {
    font-size: 1.5rem;
  }
}

.issue-show-page,
.task-show-page {
  h2 {
    text-transform: none;
  }

  .issue-header,
  .task-header {
    margin-bottom: 2rem;
  }
}

.issue-title,
.task-title {
  margin-bottom: 1.5rem;
}

.issue-task,
.task-issue,
.new-issue-task {
  i {
    font-size: 1.4rem;
  }

  .issue-status {
    white-space: nowrap;
  }
}

.new-issue-task {
  i {
    color: $dark-green;
  }
}

.issue-tasks {
  li {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .task-status {
    white-space: nowrap;
  }
}

.issue-user,
.issue-dates,
.task-user,
.task-dates {
  white-space: nowrap;
}

.issue-column,
.task-column {
  &.first-column {
    p,
    li {
      line-height: 1.4;
    }

    section {
      margin-bottom: 3rem;
    }

    ul {
      list-style-type: none;
    }

    ul,
    p,
    dl {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // hidden form
    form {
      padding: .5rem 1rem 1rem;
      border: 1px solid $box-border-color;
    }

    input,
    select {
      margin: 0;
    }

    .hidden-form {
      display: none;
    }

    .actions {
      margin-top: 1rem;
    }
  }
}

.issue-column-title,
.task-column-title {
  margin: 0 0 1rem;
  line-height: 1.1;
}

.first-column {
  section {
    &:empty {
      display: none;
    }
  }
}

@include breakpoint(large up) {
  .issue-columns,
  .task-columns {
    display: flex;
    margin: 0 -1rem;

    .issue-column,
    .task-column {
      border: 0 solid transparent;
      border-width: 0 1rem;
    }

    .first-column {
      flex: 0 0 30rem;
      order: 2;
    }

    .second-column {
      flex: 1 1 auto;
      order: 1;
    }
  }
}

.progression {
  a {
    white-space: nowrap;
  }
}

.issue-history,
.task-history {
  dt {
    &:first-child {
      margin: 0;
    }
  }
}

.issues-header,
.tasks-header,
.category-projects-header {
  margin: 1rem 0 0;

  p {
    margin-bottom: 1rem;
  }

  .button {
    margin: 0;
  }
}

@include breakpoint(small only) {
  .issues-header,
  .tasks-header ,
  .category-projects-header {
    .button {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include breakpoint(medium up) {
  .issues-header,
  .tasks-header ,
  .category-projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }
}
