.issues,
.tasks {
  background-color: $pearl;

  .issue,
  .no-issue,
  .task,
  .no-task {
    padding: 1rem 1.5rem 1.5rem;
  }

  .issue,
  .task {
    &:nth-child(even) {
      background: $light-gray;
    }
  }

  .issue-header,
  .task-header {
    margin-bottom: .5rem;
  }

  .issue-type-tag,
  .task-type-tag {
    margin: .3rem 1rem 0 0;
    float: left;

    i {
      &::before {
        display: block;
        line-height: 1.4;
      }
    }
  }

  .issue-summary,
  .task-summary {
    margin-bottom: 0;
  }

  .issue-user,
  .task-user {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.issue-show-page,
.task-show-page {
  h2 {
    text-transform: none;
  }
}
