$box-border-color: $light-gray;

.filters-wrapper {
  margin-bottom: 1.5rem;
}

.issue-notification,
.task-notification {
  display: flex;
  align-items: stretch;
  margin-bottom: .5rem;
  border-left: .5rem solid $color-success;
  background-color: $off-white;
  color: $color-success;
  font-size: 80%;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}

.notification-event {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: .25rem .5rem;
  border: 0 solid $light-gray;
  border-width: 1px 0;
}

.notification-close-link {
  display: flex;
  align-items: center;
  background-color: $light-gray;

  &:hover {
    background-color: darken($light-gray, 5%);
  }
}

.issues .issue,
.tasks .task,
.comment {
  &.with-notification {
    border-color: $gray;
  }

  .issue-notification,
  .task-notification {
    margin: 0;
    border: 1px solid $gray;
    border-width: 0 0 1px;
  }

  .notification-event {
    border-width: 0;
  }
}

.issues,
.tasks {
  margin-bottom: 3rem;

  h3,
  p {
    margin: 0 0 .25rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.8rem;
    text-transform: none;
  }

  form {
    margin-bottom: 1rem;
  }

  i {
    line-height: 1;
  }

  .issue,
  .task {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid $box-border-color;
  }

  .issue-header,
  .task-header {
    margin: 0 0 .5rem;

    h2,
    p,
    .button {
      margin: 0;
    }
  }

  .issue-summary,
  .task-summary {
    margin: 0 .5rem;
  }

  .issue-tags,
  .task-tags,
  .issue-task-tags,
  .task-issue-tags {
    margin-bottom: 0;
    line-height: 1.1;
  }

  // word-icon-word
  .issue-tags,
  .task-tags {
    display: flex;
    align-items: baseline;
  }

  // icon-word
  .issue-task-tags,
  .task-issue-tags {
    display: flex;
    align-items: center;
  }

  .issue-type-tag,
  .issue-task-tags,
  .status-tag,
  .task-type-tag,
  .task-assign-tag,
  .task-issue-tags {
    display: flex;
    align-items: baseline;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .issue-type-tag,
  .task-type-tag {
    margin-right: 0;
  }

  .issue-container,
  .task-container {
    > * {
      padding: .5rem;
    }

    .icon-and-link {
      padding: .5rem;
    }

    .issue-status,
    .task-status {
      padding: 0 .5rem;
      border: 0 solid $box-border-color;
      border-width: 0 0 1px 1px;
      background-color: rgba($black, .03);
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .issue-tags-wrapper,
  .task-tags-wrapper {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .status-tag,
  .issue-type-tag,
  .task-type-tag {
    span {
      padding: 0;
    }
  }

  .issue-type-icon,
  .task-type-icon {
    margin-right: .25rem;
  }

  .task-issue,
  .issue-task {
    margin: 0;
    padding: 0;
    border-top: 1px dashed $light-gray;
    background-color: $off-white;

    .issue-container,
    .task-container {
      margin-left: 1rem;
      border-left: 1px solid $box-border-color;
      background-color: $white;
    }
  }

  .toggle-link {
    margin: 0 0 .5rem;
    color: $color-tertiary;
    font-size: 1.2rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-secondary;
    }

    .issue-id,
    .tasks-count {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.toggle-link {
  &.disabled {
    display: none;
  }
}

.issue-summary,
.task-summary {
  line-height: 1.2;
}

.issue-show-page,
.task-show-page {
  h2 {
    text-transform: none;
  }

  .issue-header,
  .task-header {
    margin-bottom: 2rem;
  }
}

.issue-title,
.task-title {
  margin-bottom: 1.5rem;
}

.issue-tasks {
  li {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .task-status {
    white-space: nowrap;
  }
}

.issue-task-summary,
.task-issue-summary {
  margin: 0 0 .5rem;
  font-weight: bold;
  line-height: 1.2;

  a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover,
    &:focus {
      .issue-id,
      .task-id {
        color: $color-secondary;
      }
    }
  }

  .issue-id,
  .task-id {
    color: $gray;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
  }
}

.issue-status {
  white-space: nowrap;
}

.new-issue-task {
  i {
    color: $dark-green;
  }
}

.issue-user,
.issue-dates,
.task-user,
.task-dates {
  white-space: nowrap;
}

.issue-column,
.task-column {
  &.first-column {
    p,
    li {
      line-height: 1.4;
    }

    section {
      margin-bottom: 3rem;
    }

    ul {
      list-style-type: none;
    }

    ul,
    p,
    dl {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // hidden form
    form {
      padding: .5rem 1rem 1rem;
      border: 1px solid $box-border-color;
    }

    input,
    select {
      margin: 0;
    }

    .hidden-form {
      display: none;
    }

    .actions {
      margin-top: 1rem;
    }
  }
}

.issue-column-title,
.task-column-title {
  margin: 0 0 1rem;
  line-height: 1.1;
}

.first-column {
  section {
    &:empty {
      display: none;
    }
  }
}

@include breakpoint(medium up) {
  .issue-columns,
  .task-columns {
    display: flex;
    margin: 0 -1rem;

    .issue-column,
    .task-column {
      border: 0 solid transparent;
      border-width: 0 1rem;
    }

    .first-column {
      flex: 0 0 30rem;
      order: 2;
    }

    .second-column {
      flex: 1 1 auto;
      order: 1;
    }
  }
}

.progression {
  a {
    white-space: nowrap;
  }
}

.issue-history,
.task-history {
  dt {
    &:first-child {
      margin: 0;
    }
  }
}

.issues-header,
.tasks-header,
.category-projects-header {
  margin: 1rem 0 0;

  p {
    margin-bottom: 1rem;
  }

  .button {
    margin: 0;
  }
}

@include breakpoint(small only) {
  .issues-header,
  .tasks-header ,
  .category-projects-header {
    .button {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include breakpoint(medium up) {
  .issues-header,
  .tasks-header ,
  .category-projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }
}

.issue-header,
.task-header {
  .header-box {
    display: flex;
    justify-content: space-between;
    padding: .25rem .5rem;
    background-color: $off-white;
  }

  .issue-id,
  .task-id {
    color: $color-quinary;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .issue-dates,
  .task-dates {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
}

.issue-data,
.task-data {
  margin: 0;
  color: $dark-gray;

  a {
    color: $ink;
    font-weight: bold;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }

  dt {
    color: $gray;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    line-height: 1.3;
  }

  .task-assignees {
    a,
    span {
      display: block;
      margin-bottom: .25rem;
      white-space: nowrap;
    }
  }
}

@include breakpoint(medium up) {
  .issue-data,
  .task-data {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    gap: .5rem; // scss-lint:disable PropertySpelling

    dt {
      margin: 0;
      text-align: right;
    }
  }
}

@include breakpoint(large up) {
  .issue-container,
  .task-container {
    display: flex;
    justify-content: space-between;
  }

  .issue-task,
  .task-issue {
    .task-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .issue-data,
  .task-data {
    max-width: 45%;
  }
}
