$page-padding: 3%;

body {
  margin: 0;
  background: $white;
}

form,
hr {
  max-width: 70rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-top: 2rem;
}

.main-header {
  padding: 1rem 0;
  background: $color-quaternary;
  color: $ink;

  .page {
    // dropdown container
    position: relative;
  }

  .user-name {
    text-align: right;
    white-space: nowrap;
  }
}

.page-header {
  padding: 1rem 0 0;
  border-bottom: 2px solid $light-gray;
  background-color: $pearl;

  .user-nav {
    display: flex;
    margin: 0 0 -2px;

    a,
    .current-page {
      display: block;
      padding: 0 1rem;
      border-bottom: 2px solid transparent;
      line-height: 3;
    }

    a {
      &:hover,
      &:focus {
        border-color: $color-secondary;
        color: $color-secondary;
      }
    }

    .current-page {
      border-color: $color-quinary;
      color: $color-quinary;
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -.5rem .5rem;

  p {
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-width: 0 .5rem;
  }

  a {
    padding: .2rem .6rem;
    color: $light-gray;
    font-size: 1.8rem;
    // font-weight: bold;
    text-transform: uppercase;

    &.current-page {
      opacity: .7;
      color: $color-tertiary;
    }

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}

.app-name-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 0;
  }
}

.app-name {
  color: $color-secondary;
  font-size: 2.5rem;
  font-weight: bold;

  a {
    color: $gray;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}

.app-logo {
  width: 3rem;
  height: 3rem;
  margin-right: .2rem;
  margin-bottom: 0;
}

@include breakpoint(medium up) {
  .main-header > .page {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }

  .app-name {
    border-right: 1rem solid transparent;
  }

  .app-logo {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem 0 0;
  }

  .main-header {
    .user-name {
      flex-grow: 1;
    }
  }
}

.main-footer {
  margin-top: 3rem;
  padding: 1rem 0;
  background: $ink;
  color: $color-tertiary;

  h3,
  h4,
  h5,
  h6,
  .app-logo {
    margin: 2rem 0 1rem;
    color: $gray;
  }

  p {
    margin: 0;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      color: $color-quinary;
      font-size: 85%;
    }
  }

  a {
    color: $light-gray;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $page-padding;
}

.columns {
  .second-column {
    margin: 4rem 0 2rem;

    .devise-links {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      height: 100%;
    }
  }
}

@include breakpoint(large up) {
  .columns {
    display: flex;
    margin: 0 -1rem;

    .first-column,
    .second-column,
    .half-column,
    .column {
      border: 0 solid transparent;
      border-width: 0 1rem;
    }

    .first-column {
      flex: 1 1 auto;
      order: 1;
    }

    .second-column {
      flex: 0 0 30rem;
      order: 2;
      margin-top: 0;
    }

    .half-column {
      flex: 0 1 50%;
    }

    .column {
      flex: 0 1 72rem;
    }
  }

  .main-footer {
    .columns {
      justify-content: space-between;

      .column {
        flex: 0 1 auto;
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.25rem;

  .breadcrumb {
    border: 0 solid transparent;
    border-width: 0 .25rem;
    white-space: nowrap;

    &:not(:last-child) {
      &::after {
        content: '>';
        padding-left: .5rem;
      }
    }
  }
}

.project-header,
.category-header {
  .breadcrumbs {
    margin-bottom: 1rem;
  }
}

.dropdown-link {
  &::after {
    content: '\e010';
    position: relative;
    top: .25rem;
    padding-left: .25rem;
    font-family: 'task-roller';
  }

  &.active {
    &::after {
      content: '\e02a';
    }
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 2;
  margin-top: 1rem;
  padding: .5rem 0;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  background: $white;
  box-shadow: 0 4px 8px rgba($gray, .2);

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: -1rem;
    right: 1.5rem;
    width: 0;
    height: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid $white;
    border-left: 1rem solid transparent;
  }

  &.active {
    display: block;
  }

  a,
  span {
    display: block;
    padding: 0 1rem;
    line-height: 2;
  }

  .divider {
    border-top: 1px solid $light-gray;
  }

  .user-email {
    color: $dark-gray;
    font-size: 80%;
  }
}

.user-dropdown {
  right: $page-padding;
}

.image-wrapper {
  text-align: center;
}
