// variables
$border-radius: .2rem;

@mixin tag {
  margin-right: .7rem;
  padding: .2rem .5rem;
  background: rgba($black, .05);
  color: $color-tertiary;
  font-family: $heading-font;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;

  &.tag-visible,
  &.tag-external {
    color: $color-quinary;
  }
}
