.projects,
.category-projects {
  margin-bottom: 4rem;
  border-radius: $border-radius;
  background: $pearl;

  h3,
  p {
    margin: 0;
  }

  .project,
  .no-project {
    padding: 1rem 1.5rem 1.5rem;
  }

  .project {
    &:nth-child(even) {
      background: $light-gray;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .no-project {
    p {
      margin-bottom: 0;
    }
  }

  .project-name-and-tags {
    margin-bottom: 1.5rem;
  }

  .project-name {
    margin-bottom: .3rem;
  }

  .project-links {
    display: flex;
    margin: 0 -.5rem;

    .button {
      flex: 1 1 50%;
      margin: 0 .5rem;
    }
  }

  .new-project {
    text-align: center;

    .button {
      margin: .5rem auto;
    }
  }
}


.category-tags,
.project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;

  .tag,
  .status-tag,
  .issue-type-tag,
  .task-type-tag {
    margin-bottom: 1rem;
  }

  .tag {
    @include tag;
    margin-bottom: 1rem;
  }
}

.projects-header,
.category-projects-header {
  padding: 1.5rem 2rem;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $dark-blue;
  color: $white;
  text-align: center;

  h2 {
    margin: 0 0 1.5rem;
    color: $white;
  }

  p {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    margin: 0;
  }
}

.issues-header,
.tasks-header {
  margin-bottom: .5rem;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .button {
    margin: 0;
  }
}

@include breakpoint(small only) {
  .issues-header,
  .tasks-header {
    .button {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include breakpoint(medium up) {
  .projects,
  .category-projects {
    .project {
      display: grid;
      grid-column-gap: 2rem;
      align-items: center;
    }

    .no-project {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .projects,
  .category-projects {
    .project-name-and-tags,
    p {
      margin-bottom: 0;
    }
  }

  .projects {
    .project {
      grid-template-columns: 2fr 1fr 1fr 2fr;
    }
  }

  .category-projects {
    .project {
      grid-template-columns: 2fr 1fr auto;
    }
  }

  .categories-header {
    text-align: right;
  }

  .category-projects-header {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr auto;
    align-items: center;

    h2 {
      margin-right: auto;
      margin-bottom: 0;
      line-height: 1.2;
    }

    p {
      margin-bottom: 0;
    }
  }

  .issues-header,
  .tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.category-header,
.project-header {
  .second-column {
    margin-bottom: 1rem;
    text-align: center;
  }
}

@include breakpoint(large up) {
  .category-header,
  .project-header {
    .second-column {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
}

.project-header {
  .project-tags {
    margin-bottom: 0;
  }
}
