.projects,
.category-projects {
  margin-bottom: 4rem;
  border-radius: $border-radius;
  background: $pearl;

  .project,
  .no-project {
    padding: 1rem 1.5rem 1.5rem;
  }

  .project {
    &:nth-child(odd) {
      background: $light-gray;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .no-project {
    p {
      margin-bottom: 0;
    }
  }

  .project-name-and-tags {
    margin-bottom: 1.5rem;
  }

  .project-name {
    margin-bottom: .3rem;
  }

  .project-tags {
    margin-bottom: 0;
  }

  .project-links {
    display: flex;
    margin: 0 -.5rem;

    .button {
      flex: 1 1 50%;
      margin: 0 .5rem;
    }
  }

  .new-project {
    text-align: center;

    .button {
      margin: .5rem auto;
    }
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .tag {
    @include tag;
    margin-bottom: .5rem;
  }
}

.projects-header,
.category-projects-header {
  padding: 1.5rem 2rem;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $dark-blue;
  color: $white;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
    color: $white;
  }

  p {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    margin: 0;
  }
}

@include breakpoint(medium up) {
  .projects,
  .category-projects {
    .project {
      display: grid;
      align-items: center;
      grid-column-gap: 2rem;
    }

    .no-project {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .projects,
  .category-projects {
    .project-name-and-tags,
    .project-category {
      margin-bottom: 0;
    }
  }

  .projects {
    .project {
      grid-template-columns: 2fr 1fr 1fr;
    }
  }

  .category-projects {
    .project {
      grid-template-columns: 2fr 1fr;
    }
  }

  .category-projects-header {
    display: grid;
    align-items: center;
    grid-column-gap: 2rem;
    grid-template-columns: 5fr 1fr 1fr;

    h2 {
      margin-right: auto;
      margin-bottom: 0;
      line-height: 1.2;
    }

    p {
      margin-bottom: 0;
    }
  }
}

@include breakpoint(large up) {
  .projects {
    .project {
      grid-template-columns: 2fr 2fr 1fr;
    }
  }

  .category-projects {
    .project {
      grid-template-columns: 3fr 1fr;
    }
  }
}
