.issue-type-color-options,
.issue-type-icon-options,
.task-type-color-options,
.task-type-icon-options {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem 1rem;
    padding: .3rem .5rem;
    border-radius: $border-radius;
    line-height: 1.2;
    cursor: pointer;

    i {
      display: flex;
      margin-right: .3rem;
      color: $color-quinary;
      font-weight: normal;
    }

    &.disabled {
      border-color: $light-gray;
      opacity: .6;
      background-color: $off-white;
      color: $color-quaternary;

      i {
        color: $gray;
      }
    }

    &.active {
      border-color: $gray;
    }
  }
}

.issue-type-color-options,
.task-type-color-options {
  margin-bottom: 1rem;

  label {
    border-width: 1px;
    border-style: solid;

    &.active {
      border-color: $black;
    }
  }
}

.issue-type-icon-options,
.task-type-icon-options {
  label {
    border: 1px solid $light-gray;
    background-color: $off-white;
  }
}

.roller-radio-button-label {
  input {
    display: none;
  }
}

.issue-type-tag,
.task-type-tag,
.issue-type-icon-option,
.task-type-icon-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem 1rem;
  padding: .1rem .5rem;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  color: $color-quaternary;
  line-height: 1.2;

  i {
    margin-right: .3rem;
    color: $color-quinary;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    display: flex;
  }
}

.roller-type-color-green,
.roller-type-color-yellow,
.roller-type-color-red,
.roller-type-color-purple {
  color: $off-white;
}

.roller-type-color-default {
  border-color: $gray;
  background: $light-gray;
}

.roller-type-color-blue {
  border-color: $dark-blue;
  background: $light-blue;
}

.roller-type-color-brown {
  border-color: $dark-gray;
  background: $light-brown;
}

.roller-type-color-green {
  border-color: $dark-green;
  background: $green;
}

.roller-type-color-purple {
  border-color: $dark-gray;
  background: $lavender;
}

.roller-type-color-red {
  border-color: $dark-red;
  background: $red;
}

.roller-type-color-yellow {
  border-color: $dark-yellow;
  background: $yellow;
}

.issue-types,
.task-types {
  .issue-type,
  .task-type {
    display: grid;
    align-items: center;
    margin-bottom: 1.5rem;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr;

    p,
    .issue-type-tag {
      margin-bottom: 0;
    }
  }
}
