.issue-type-color-options,
.issue-type-icon-options,
.task-type-color-options,
.task-type-icon-options,
.issue-issue-type-options,
.task-task-type-options {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem 1rem;
    padding: .3rem .5rem;
    border-radius: $border-radius;
    line-height: 1.2;
    cursor: pointer;

    &.disabled {
      border-color: $gray;
      opacity: .6;
      background-color: $light-gray;
      color: $color-quaternary;

      i {
        color: $gray;
      }
    }

    &.active {
      border-color: $gray;
    }
  }

  i {
    display: flex;
    margin-right: .3rem;
    color: $color-quinary;
    font-weight: normal;
  }
}

.issue-type-color-options,
.task-type-color-options,
.issue-issue-type-options {
  margin-bottom: 1rem;

  label {
    border-width: 1px;
    border-style: solid;

    &.active {
      border-color: $black;
    }
  }
}

.issue-type-icon-options,
.task-type-icon-options {
  label {
    border: 1px solid $light-gray;
    background-color: $off-white;
  }
}

.roller-radio-button-label {
  input {
    display: none;
  }
}

.issue-type-tag,
.task-type-tag,
.issue-type-icon-option,
.task-type-icon-option {
  padding: .1rem .2rem;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  color: $color-quaternary;
  line-height: 1.2;

  i {
    color: $color-quinary;
  }

  span {
    margin-left: .3rem;
    white-space: nowrap;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    position: relative;
    bottom: -2px;
  }
}

.task-type-icon,
.issue-type-icon {
  [class^="icon-"],
  [class*=" icon-"] {
    position: relative;
    bottom: -1px;
    font-weight: bold;
  }
}

.issue-type-tag,
.task-type-tag,
.roller-radio-button-label {
  &.roller-type-color-green,
  &.roller-type-color-yellow,
  &.roller-type-color-red,
  &.roller-type-color-purple {
    color: $off-white;

    i {
      color: $dark-blue;
    }
  }

  &.roller-type-color-default {
    border-color: $gray;
    background: $light-gray;
  }

  &.roller-type-color-blue {
    border-color: $dark-blue;
    background: $light-blue;
  }

  &.roller-type-color-brown {
    border-color: $dark-gray;
    background: $light-brown;
  }

  &.roller-type-color-green {
    border-color: $dark-green;
    background: $green;
  }

  &.roller-type-color-purple {
    border-color: $dark-gray;
    background: $lavender;
  }

  &.roller-type-color-red {
    border-color: $dark-red;
    background: $red;
  }

  &.roller-type-color-yellow {
    border-color: $dark-yellow;
    background: $yellow;
  }
}

.issue-type-icon,
.task-type-icon {
  &.roller-type-color-default {
    color: $light-gray;
  }

  &.roller-type-color-blue {
    color: $light-blue;
  }

  &.roller-type-color-brown {
    color: $light-brown;
  }

  &.roller-type-color-green {
    color: $green;
  }

  &.roller-type-color-purple {
    color: $lavender;
  }

  &.roller-type-color-red {
    color: $red;
  }

  &.roller-type-color-yellow {
    color: $yellow;
  }
}

.issue-types,
.task-types {
  .issue-type,
  .task-type {
    display: grid;
    align-items: center;
    margin-bottom: 1.5rem;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr 1fr;

    p,
    .issue-type-tag {
      margin-bottom: 0;
    }
  }
}
