$heading-font: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
$body-font: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

body {
  color: $ink;
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h1 {
  font-weight: bold;
}

h1,
h3,
h5 {
  color: $color-quaternary;
}

h2,
h4,
h6 {
  color: $color-tertiary;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
}

h4 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  &:hover {
    color: $color-secondary;
  }
}

@include breakpoint(small down) {
  body {
    font-size: 1.8em;
  }
}
