body {
  color: $ink;
}

h1 {
  font-weight: bold;
}

h1,
h3,
h5 {
  color: $color-secondary;
}

h2,
h4,
h6 {
  color: $color-quaternary;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
}

h4 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.4rem;
}
