$heading-font: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
$body-font: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$code-font: 'Lucida Console', Monaco, monospace;

body {
  color: $ink;
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: $heading-font;
}

h1,
h3 {
  font-weight: bold;
}

h1,
h3,
h5 {
  color: $color-quaternary;
}

h2,
h4,
h6 {
  color: $color-tertiary;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  margin-top: 2rem;
  font-size: 3.2rem;
}

h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

h4 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  margin-bottom: 1.5rem;

  code {
    font-weight: bold;
  }
}

a {
  &:hover {
    color: $color-secondary;
  }

  &.destroy-link {
    color: $color-warning;

    &:hover {
      color: $color-warning-hover;
    }
  }

  &.create-link {
    color: $color-success;

    &:hover {
      color: $color-success-hover;
    }
  }

  &.secondary-link {
    color: $color-tertiary;

    &:hover {
      color: $color-secondary;
    }
  }
}

h1 {
  a {
    color: $ink;
    text-decoration: underline;
  }
}

@include breakpoint(small down) {
  body {
    font-size: 1.8em;
  }
}

li {
  margin-bottom: .5rem;
}

code {
  font-family: $code-font;
}

.divider {
  color: $light-gray;
}

dt {
  margin: 1rem 0 0;
  font-weight: bold;
  line-height: 1.3;
}

dd {
  margin: 0;
}

hr {
  border-color: $light-gray;
}

.color-green {
  color: $green;
}

.color-yellow {
  color: $yellow;
}

.color-red {
  color: $red;
}

.color-blue {
  color: $light-blue;
}

.color-purple {
  color: $lavender;
}
