.user-issues {
  margin-bottom: 2rem;
}

.user-tasks {
  margin-top: 2rem;
}

.assigned-date,
.review-date {
  white-space: nowrap;
}

.user-edit-links {
  margin: 2.5rem 0;
  padding: 2.5rem 0 0;
  border: 0 solid $light-gray;
  border-top-width: 1px;

  h2,
  h3 {
    margin-top: 0;
  }

  form,
  .button {
    margin-bottom: 0;
  }
}
