.user-issues {
  margin-bottom: 2rem;
}

.user-tasks {
  margin-top: 2rem;
}

.assigned-date,
.review-date {
  white-space: nowrap;
}

.user-edit-links {
  margin: 2.5rem 0;
  padding: 2.5rem 0 0;
  border: 0 solid $light-gray;
  border-top-width: 1px;

  h2,
  h3 {
    margin-top: 0;
  }

  form,
  .button {
    margin-bottom: 0;
  }
}

.users {
  .user {
    padding: 1.5rem 1rem 1rem;
    text-align: center;

    h3,
    p,
    .button {
      margin: 0;
    }

    .user-name {
      margin: 0 0 1rem;
    }

    .user-links {
      margin-top: 1rem;
    }
  }

  .new-user {
    margin-bottom: 1rem;
    text-align: left;

    .button {
      margin: 0;
    }
  }
}

@include breakpoint(small only) {
  .users {
    margin-bottom: 3rem;

    .user {
      padding-right: 0;
      padding-left: 0;

      // add top border to all except the first
      &:nth-child(n + 3) {
        margin-top: 1rem;
        border-top: 1px solid $light-gray;
      }
    }

    .button {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .new-user {
      .button {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@include breakpoint(medium up) {
  .users {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    .user,
    .new-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
    }

    .new-user {
      order: 1;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 1rem;
      }

      i {
        margin-bottom: -1rem;
        font-size: 3rem;
      }
    }
  }
}

@include breakpoint(large up) {
  .users {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
