<div class="comment">
  <header>
    <%# TODO: use current user %>
    <p>Add Comment:</p>
  </header>

  <% if object.is_a?(Task) %>
    <%= render 'task_comments/form', category: category, project: project,
                                     task: object, comment: comment,
                                     user_options: user_options %>
  <% else %>
    <%= render 'issue_comments/form', category: category, project: project,
                                     issue: object, comment: comment,
                                     user_options: user_options %>
  <% end %>
</div>
