<h1>Categories</h1>

<header class="categories-header">
  <% if policy(Category).new? %>
    <p>
      <%= link_to new_category_path, class: 'button button-success' do %>
        <i class="icon-plus"></i>
        Add Category
      <% end %>
    </p>
  <% end %>
</header>

<div class="categories">
  <% if @categories.any? %>
    <%= render @categories %>
  <% else %>
    <p class="no-category">none</p>
  <% end %>
</div>
