<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="categories">
  <%= render @categories %>

  <div class="category new-category">
    <p><%= link_to 'New Category', new_category_path %></p>
  </div>
</div>
