<%= category_index_header %>

<div class="columns">
  <div class="first-column">
    <%= render 'form', category: @category %>
  </div>
  <div class="second-column"></div>
</div>

<p><%= link_to 'Back', :back %></p>
