<%
  category ||= category_tasks_subscription.category
  return unless category
%>

<% if category_tasks_subscription.persisted? %>
  <% return unless can?(:destroy, category_tasks_subscription) %>

  <% url = category_tasks_subscription_path(category,
                                             category_tasks_subscription) %>

  <div class="button-wrapper">
    <%= link_to 'Subscribed',
                url,
                method: :delete,
                class: 'button button-success button-disabled' %>
    <%= link_to url,
                method: :delete,
                class: 'button button-success button-unsubscribe button-icon',
                title: 'Unsubscribe',
                data: { disable_with: '...' } do %>
      <%= icon('close') %>
    <% end %>
  </div>
<% elsif can?(:create, category_tasks_subscription) %>
  <%= link_to 'Auto-Subscribe to New Tasks',
              category_tasks_subscriptions_path(category),
              method: :post, class: 'button button-wrap button-clear',
              data: { disable_with: 'Subscribing' } %>
<% end %>
