<%
  url =
    if category_tasks_subscription.persisted?
      category_tasks_subscription_path(category, category_tasks_subscription)
    else
      category_tasks_subscriptions_path(category)
    end
%>
<%= form_with(model: category_tasks_subscription, url: url, local: true,
              html: { name: 'task_subscription_form',
                      class: 'task-subscription-form' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
