<%= category_header @category %>

<h2>Subscribe to Category Tasks</h2>

<%= render 'form',
           category_tasks_subscription: @category_tasks_subscription,
           category: @category %>

<%= link_to 'Back', :back %>
