<%= project_header @project %>

<h2>Subscribe to Project Issues</h2>

<%= render 'form',
           project_issues_subscription: @project_issues_subscription,
           project: @project %>

<%= link_to 'Back', :back %>
