<%# TODO: add flash notice %>

<header class="main-header">
  <div class="page">
    <div class="menu">
      <%= menu_link 'Dashboard', root_path %>
      <%= menu_link 'Users', users_path %>
    </div>

    <p class="app-name">
      <%= link_to 'Task Roller', root_path %>
    </p>
  </div>
</header>
